[submodule "commerce-backend"]
	path = commerce-backend
	url = https://github.com/KimYeonWook511/commerce-backend.git
[submodule "commerce-infra"]
	path = commerce-infra
	url = https://github.com/KimYeonWook511/commerce-infra.git
[submodule "commerce-frontend"]
	path = commerce-frontend
	url = https://github.com/KimYeonWook511/commerce-frontend.git
